## Random Forest Classifier With Pipline And Hyperparameter Tunning

In [44]:
import seaborn as sns 
import pandas as pd 
df = sns.load_dataset('tips')

In [45]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [46]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [47]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [48]:
df['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [49]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
encoder = LabelEncoder()

In [52]:
df["time"] = encoder.fit_transform(df["time"])

In [53]:
df['time'].unique()

array([0, 1])

In [54]:
## independent and dependent 

X = df.drop(["time"],axis=1)
y = df["time"]

In [55]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [56]:
y

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Name: time, Length: 244, dtype: int32

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20,random_state=42)

In [59]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import ColumnTransformer

In [60]:
categorical_cols = ['sex','smoker','day']
numerical_cols = ['total_bill','tip','size']

In [61]:
## Numerical Pipline 
num_pipeline = Pipeline(
      steps = [
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
          
        
      ]
)

# Categorical Pipeline 
cat_pipeline = Pipeline(
      steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('Onehotencoder',OneHotEncoder())
      ]
)

In [62]:
preprocessor = ColumnTransformer([
        ('num_pipeline',num_pipeline,numerical_cols),
        ('cat_pipeline',cat_pipeline ,categorical_cols )

])

In [64]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [65]:
from sklearn.ensemble import RandomForestClassifier

In [66]:
## Model training automation 
models = {
  ('Random Forest') :RandomForestClassifier()

}

In [67]:
from sklearn.metrics import accuracy_score